@font-face {
	font-family: 'PT Sans';
	font-weight: bold;
	font-display: swap;
	src: url(../fonts/PT_Sans-Web-Bold.ttf) format('truetype'),
	url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
	url('../fonts/pt_sans-web-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-weight: normal;
	font-display: swap;
	src: url(../fonts/PT_Sans-Web-Regular.ttf) format('truetype'),
	url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
	url('../fonts/pt_sans-web-regular-webfont.woff') format('woff');
}